html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;
}
textarea {
  resize: none;
}

.header,
.header__menu,
.container,
.container__search,
.container__categories
.container__ads
{
  width: 100%;
}

@media(min-width: 1200px) {

  .container__categories,
  .container__ads {
    width: 90%;
    margin: auto;
  }
}

.next {
  margin: 0 0 3% 35%;
  width: 100px;
}

@media(min-width: 768px) {
  button.next {
    margin: 0 0 3% 44%;
    width: 100px;
  }
}

@media(min-width: 1200px) {
  button.next {
    margin: 0 0 3% 47%;
    width: 100px;
  }
}