.all-posts li {
list-style: none;
text-decoration: none;
};

.favorite {
    text-align: center;
    overflow: hidden;
};

.all-favorites li {
    list-style: none;
    text-decoration: none;
};

.all-favorites {
    box-sizing: border-box;
    padding: 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(54, 55, 56);
    
}

.posts {
    text-align: center;
    overflow: hidden;
};

.modal-hidden {
    display: none;
};


