.all-posts li {
list-style: none;
text-decoration: none;
};

.favorite {
    margin-top: 1500px;
    text-align: center;
    overflow: hidden;
};

.all-favorites li {
    list-style: none;
    text-decoration: none;
};

.all-favorites {
    box-sizing: border-box;
}

.posts {
    text-align: center;
    overflow: hidden; 
}