<form class="login_form">
  <input type="email" class="email" placeholder="e-mail">
  <input type="password" class="password" placeholder="password">
  <button type="submit" class="login_btn">Увійти</button>
</form>