<form class="registration_form">
  <input type="text" class="name" placeholder="name">
  <input type="email" class="email" placeholder="e-mail">
  <input type="password" class="password" placeholder="password">
  <button type="submit" class="registration_btn">Зареєструватися</button>
</form>