.categories__list {
    list-style-type: none;
    padding: 0;

    &-btn {
        background: #fff;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        display: inline-block;
        padding: 10px 30px;
        margin: 10px 20px;
        position: relative;
        overflow: hidden;
        border: 1px solid #4d94ff;
        background-color: rgb(194, 227, 253);
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
        color: #404040;
        transition: .2s ease-in-out;
        &:before {
            content: "";
            background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
            height: 50px;
            width: 50px;
            position: absolute;
            top: -8px;
            left: -75px;
            transform: skewX(-45deg);
        }

        &:hover {
            background: #4d94ff;
            color: #fff;
            &:before {
                left: 150px;
                transition: .5s ease-in-out;
            }
        }
    }

    &-item_clear_filter{
        background-color: #4d94ff;
        position: relative;
        width: 120px;
        height: 50px;
        display: block;
        margin: auto;
        line-height: 21px;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover{
            background: #ffff00;
            color: #4d94ff;
            &:before {
                left: 150px;
                transition: .5s ease-in-out;
            }
        }
    }

    @media(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
}
.active{
    background: #4d94ff;
    color: #fff;
}

.category-section__favorite {
    cursor: pointer;
}
.svg__colorchange {
    transition: fill 1s ease-in-out;
    fill: #4d94ff;
    &-active {
        transition: fill 1s ease-in-out;
        fill: #ffff00;
    }
}

.categories__list-item > button {
    width: 90%;
}

@media(min-width: 768px){
    .categories__list-btn{
        padding: 10px 20px;
        margin: 10px 12px;
    }
}

@media(min-width: 1200px){
    .categories__list-item > button {
        width: 100%;
    } 
    .categories__list-btn{
        padding: 10px 22px;
        margin: 10px 1px;
    }
}
