#user-postiki__content {
    overflow: auto;
    height: 500px;
}

.all-posts li {
list-style: none;
text-decoration: none;
};

.favorite {
    text-align: center;
    overflow: hidden;
};

.all-favorites li {
    list-style: none;
    text-decoration: none;
};

.all-favorites {
    box-sizing: border-box;
    padding: 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(54, 55, 56);
}

.posts {
    text-align: center;
    overflow: hidden;
};

.modal-hidden {
    display: none;
};

.input-file {
    margin-bottom: 20px;
}

.del, .delFavor, button.edit {
    padding: 10px;
    border-radius: 7px;
    background-color: #ffff00;
    font-weight: bold;
    color: #4d94ff;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover, &:hover {
      background-color: #4d94ff;
      color: #fff;
    }
}
